# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
.next/
out/
build/

# production / cache
.vercel/
.turbo/
.cache/

# testing
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# environment variables
.env
.env.*
!.env.example

# local OS/editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
.idea/

# certificates / secrets
*.pem
*.key
*.crt

# typescript
*.tsbuildinfo
next-env.d.ts

# drizzle/local db exports
*.sqlite
*.db
